body{
  margin: 0;
  padding: 0;
}
.indexMargin {
  margin-bottom: 56px;
  margin-top: 56px;
}
.detailMargin {
  margin-top: 56px;
}
.loginRadius {
  border-radius: 20px;
}

.backAddFont {
  background: #ffffff;
  font-family: "Microsoft YaHei UI";
}
.font {
  font-family: "Microsoft YaHei UI";
}

.borderBottom1px {
  width: 100%;
  height: 100%;
  position: relative;
}
.borderBottom1px:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #c8c7cc;
  transform: scaleY(0.5);
}
.borderRight1px{
    width: 100%;
    height: 100%;
    position: relative;
  }
.borderRight1px:after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    right: 0;
    bottom: 68px;
    height: 100%;
    background-color: #c8c7cc;
    transform: scaleX(0.5);
  }
